<div class="header-container">
  <div class="header">
    {{title}}
  </div>

  <div class="menu">
    <a href="/"> Ana sayfa </a>
    <a href="/about"> Hakkında </a>
    <a href="/help"> Yardım </a>
  </div>

</div>
