<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <div class="content">
      {{>header}}
      <form id='search-form' class='form-container'>
        <input class='search-input' id='search' placeholder="Adres"/>
        <button> Ara</button>
      </form>
      <p id='p1' />
      <p id='p2' />
      {{>footer}}
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
